*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html { -webkit-text-size-adjust: 100%; }

img, svg { display: block; max-width: 100%; }

input, button, select, textarea {
  font: inherit;
  color: inherit;
}

a { color: inherit; }

ul, ol { list-style: none; }
